<header>
    <nav>
        <form class="search-form" action="/search" method="get">
            <input type="text" placeholder="Search" name="search">
            <!--name search for req.query.search-->
        </form>
        <a href="/login">LOGOUT</a>
    </nav>
</header>