{{>discussions}}
<div class="reply-list">
    {{#each replies}}
    <div class="reply-container">
        <div class="card">
            <img class="photo" src="{{this.url}}" alt="p1">
            <!--TODO: replace photo with real user id-->
            <p class="body">{{this.body}}</p>
        </div>
    </div>
    {{/each}}
    <div class= "box">
    <form action="/new-reply/{{getDiscId}}" method="post">
        <input class="cont" type="text" name="newReply" placeholder="add your reply....." required />
        <input type="submit" class='btn' value="Comment"/>
    </form>
    </div>
</div>