<div class='profile-container'>
    <img src="https://randomuser.me/api/portraits/med/men/1.jpg">
    <h3>Man Manson</h3>
    <span>man man guy guy who do thing thing</span>

    <div>
        <table>
            <tr>
                <th>Posts</th>
                <th>0</th>
            </tr>
            <tr>
                <th>Messages</th>
                <th>0</th>
            </tr>
            <tr>
                <th>Likes</th>
                <th>0</th>
            </tr>
        </table>
    </div>

    <br>

    Edit Profile
</div>
<div class="discussion-container">

    <form class='discussion-form'>
        <h1>what's your question today?</h1>
        <input class="input-subject" name='subject' type="text" placeholder="subject">
        <input class="input-details" name='details' type="text" placeholder="explain in detail ....">
        <select class="input-topic" name='topic'>
            <option>php</option>
            <option>nodejs</option>
            <option>sql</option>
            <option>java</option>
            <option>zend</option>
        </select>
        <input type='submit' value="post to timeline">
    </form>
        
    {{> discussions}}
</div>


</div>