{{>navBar}}
<div class="main-container">

    <div class='profile-container'>
        <img src="https://randomuser.me/api/portraits/med/men/1.jpg">
        <h3>Man Manson</h3>
        <p>man man guy guy who do thing thing</p>

        <table>
            <tr>
                <th>Posts</th>
                <th>0</th>
            </tr>
            <tr>
                <th>Messages</th>
                <th>0</th>
            </tr>
            <tr>
                <th>Likes</th>
                <th>0</th>
            </tr>
        </table>

        <br>

        Edit Profile
    </div>
    
    <div class="discussion-container">

        <form class='discussion-form' action='/' method='post'>
            <h1>what's your question today?</h1>
            <input class="input-subject" name='subject' type="text" placeholder="subject"> <br>
            <textarea clas"input-details" name='details' rows="4" cols="50"
                placeholder="explain in detail ...."></textarea> <br>
            <select class="input-topic" name='topic'>
                <option value="" disabled selected>topic</option>
                <option>php</option>
                <option>nodejs</option>
                <option>sql</option>
                <option>java</option>
                <option>zend</option>
            </select>
            <input type='submit' value="post to timeline">
        </form>

        {{> discussions}}
    </div>


</div>