<div id='homePage'>

    <div class = "row">
        <div class="col-4">
            <p class="logo-font">knowledge<span class="base-span">Base</span></p>
            <img src="../images/knowledgebaselogo.jpg" width="250" >

            {{!-- <h1>{{heading}}</h1> --}}
        </div>
        <div class="col-8">
            <div class="form-inline">
                <form action='/login' method="POST">
                    <input class="form-control" type="name" name="email" placeholder="Email Address" required="" size="10"/>
                    &nbsp;
                    <input class="form-control" type="password" name="password" placeholder="Password" required="" size="10"/>
                    <button type="submit">Login</button>
                </form>
            </div>
            <br>
            
            <p class="title-font"><b>Join the world's largest community for knowledge sharing</b></p>
            
            <br>

            <form action='/register' method="POST">
                <div class="form-row form-inline">
                    <input class="form-control" type="text" name="fname" placeholder="First Name" required="" size="10">
                    &nbsp;	&nbsp;
                    <input class="form-control" type="text" name="lname" placeholder="Last Name" required="" size="10">
                </div>
                <br>
                <input class="form-control" type="text" name="email" placeholder="Email" required=""><br>
                <input class="form-control" type="password" name="password" placeholder="Password" required=""><br>
                <input class="form-control" type="password" name="confirm_pass" placeholder="Confirm Password" required=""><br>
                <input type="submit"/>
            </form>
        </div>
    </div>
</div>
        

{{!-- {{>footer}} --}}






