{{>navBar}}

<div class="main-container">

    <div class='profile-container'>
        <div id='convList-container'>
            <p> hello conv list </p>
        </div>
    </div>

    <div class="discussion-container">
         <div id="msgList-container">
            <p> hello msg list </p>
        </div>
        <div id="msgContent-container">
            <p> hello msg content </p>
        </div>
        <div id="msgSend-container">
            <p> hello msg send </p>
        </div>
    </div>

</div>

{{>footer}}