{{>navBar}}

<div class="main-container">

    <div class='profile-container'>
        <img class="photo" src={{this.url}} alt="Photo">
        <h3 class="name">{{this.name}}</h3>
    </div>

    <div class="discussion-container">
        <form action='/msg/msgSend' method='post'>
            <input type='text' name='subject' placeholder='subject' />
            <textarea name='content' placeholder='message details...'></textarea>
            <input type='hidden' name='receiverID' value={{receiverID}} />
            <button type='submit'> Test </button>
        </form>
    </div>

</div>

{{>footer}}