@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00aeff;
  padding: 0 1.5rem;
}

.main-header__nav {
    background-color: green;
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  background-color: grey;
  margin: 0 1rem;
  padding: 10px;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

footer {
    background-color: #00695c;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
}

#homePage {
  width: 50%;
  margin: 50px auto;
}