@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    box-sizing: border-box;
    font-family: Op;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}


footer {
    background-color: #00695c;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
}

#homePage {
    width: 50%;
    margin: 50px auto;
}